.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
    width: 60%;
    height: auto;
}

.card > h1 {
    color: black;
    height: 50%;
}

.container_list {
    max-height: 90vh;
    border-radius: 10px;
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.input_busca {
    width: 100%;
    font-size: 16px;
    height: 27px;
    padding: 6px 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.icon_search {
    width: 36px;
    height: 36px;
    color: rgb(129, 129, 129);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid rgb(86, 86, 86);
}

.aluno_card {
    margin-bottom: 20px;
    width: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}