* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial;
}

.container_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
    min-height: 100vh;
}
.container_page_with_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
    min-height: calc(100vh - 78px);
}
.container_page_with_header_no_centered{
  display: flex;
  flex-direction: column;
  background-color: #DDD;
  min-height: calc(100vh - 78px);
}
