
.header{
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 58px;
}

.logo{
    color: #E5EDF1;
    cursor: pointer;
}

.container_avatar {
    display: flex;
    align-items: center;
}

.container_avatar > h2 {
    display: flex;
    align-items: center;
    color: #E5EDF1;
    margin-right: 30px;
}

.avatar {
    background-color: #E5EDF1;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.avatar > h2 {
    padding: 15px;
    position: relative;
    display: inline-block;
}

.coin{
    color: #E5EDF1;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.dropdown_content{
    display: none;
    position: absolute;
    width: 50px;
    top: 60px;
    left: -12px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content > p:not(:last-child){
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.header > div:not(:last-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.header > div:not(:last-child) > span {
    color: white;
    cursor: pointer;
}
.header > div:not(:last-child) > span:hover {
    font-weight: bold;
}

