.card{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.input_container {
    display: flex;
    width: 80%;
    margin: 10px 0 10px 0;
}

.label {
    margin-bottom: 5px;
}

.input {
    height: 30px;
    min-width: 100px;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
}

.button_submit {
    margin-top: 20px;
    padding: 10px 40px;
    color: white;
    background-color: #6c63ff;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.button_submit:hover {
    border: none;
    color: white;
    background-color: #6f2fff;
    transition: 0.5s;
    border-radius: 5px;
}

.errors{
    text-align: left;
    color: red;
    font-size: 0.9rem;
}

.input_nome {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-right: 20px;
}
.input_dataNasc {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.input_cpf {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 20px;
}

.input_tel {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.input_user {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-right: 20px;
}

.input_pass {
    display: flex;
    width: 50%;
    flex-direction: column;
}